
.login-form-container {
  width: 100%;
  min-height: 100vh;
  background: #f4f6f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  background: #ffffff;
  width: 350px;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-heading {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #222;
}

.input-label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input-field {
  width: 90%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #bbb;
  outline: none;
  font-size: 14px;
  transition: border 0.2s;
}

.input-field:focus {
  border-color: #4b7bec;
}

.login-button {
  padding: 12px;
  background: #4b7bec;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: #3867d6;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.signup-link {
  color: #4b7bec;
  font-weight: 600;
  cursor: pointer;
}
.signup-link:hover {
  text-decoration: underline;
}

.register-text {
  color: #4b7bec;
}

.main-heading {
  font-family: "Time Roman";
  
}