.employees-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #2c3e50;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
}

.form-box h3 {
  margin-bottom: 15px;
  color: #34495e;
}

.input-field {
  padding: 10px 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #cccccc;
  font-size: 14px;
}

.input-field:focus {
  border-color: #3498db;
}


.submit-btn {
  padding: 10px 18px;
  background: #3498db;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
}

.submit-btn:hover {
  background: #1f78c1;
}

.list-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
}

.list-box h3 {
  margin-bottom: 15px;
  color: #34495e;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.employee-table thead {
  background: #f4f6f8;
}

.employee-table th,
.employee-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.employee-table th {
  font-weight: bold;
  color: #2c3e50;
}

.employee-table tr:hover {
  background: #f7f9fa;
}

.delete-btn {
  padding: 6px 12px;
  background: #e74c3c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}


.no-data {
  text-align: center;
  padding: 15px;
  font-style: italic;
  color: #888;
}

.edit-button {
  padding: 6px 12px;
  background: #1f78c1;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
