/* Main container */
.teams-container {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  padding-bottom: 50px;
}

/* Page title */
.page-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #2d3436;
}

/* Add Team Box */
.form-box {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.08);
  margin-bottom: 25px;
}

.form-box h3 {
  margin-bottom: 15px;
  color: #2d3436;
}

.form-heading {
  text-align: left;
}

.input-field {
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #b2bec3;
  font-size: 15px;
}

.submit-btn {
  background-color: #0984e3;
  padding: 10px;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background-color: #086dcc;
}

.list-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.08);
  margin-top: 30px;
}

.list-box h3 {
  margin-bottom: 20px;
  color: #2d3436;
}

.team-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.team-table th,
.team-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dfe6e9;
}

.team-table th {
  background-color: #f1f2f6;
  font-weight: bold;
}

.team-table tr:hover {
  background-color: #f8f9fa;
}

.no-data {
  text-align: center;
  padding: 15px;
  font-style: italic;
  color: #636e72;
}

.delete-btn {
  background-color: #d63031;
  padding: 8px 12px;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}


.edit-button {
  padding: 6px 12px;
  background: #1f78c1;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}