.register-form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f7fb;
}

.main-heading {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-container {
  width: 360px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.login-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}


.input-label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
  color: #555;
}

.input-field {
  width: 90%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.input-field:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 3px rgba(0, 123, 255, 0.5);
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.register-text {
  color: #007bff;
  cursor: pointer;
}

.register-text:hover {
  text-decoration: underline;
}
